span {
    color: var(--red-main) !important ;
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 30px;
}

#landing-page h1 {
    font-size: 3rem;
    font-weight: 700;
}  

#landing-page h2 {
    font-size: 1.25rem;
}

#landing-page h3 {
    font-size: 1rem;
}

#networks .title {
    text-align: center;
}

#networks {
    /* Par défaut : flex (mobile) */
    display: flex;
}

.networks img {
    width: 70px;
    margin: 0 15px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    background-color: var(--red-main);
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}   

#henri {
    width: 270px;
    border-radius: 15px;
}

.project-cards {
    position: relative;
    width: 50vw;
    height: 25vh;
    margin-bottom: 2.5em;
    background-color: var(--red-bg);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-cards img {
    width: 50vw;
    height: 50%;
}



/* OU si vous voulez être plus précis */
#projects > a:nth-of-type(odd) .project-cards {
    left: 40%;
}

.project-cards h3 {
    font-size: 1rem;
    font-weight: bold;
}

.project-cards p {
    font-size: 0.75rem;
    max-width: 90%;
}

.button-links:hover {
    transform: translateY(-3px);
}

.button-links .arrow {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}


/* Style pour les blocs Hardskills et Softskills */
.skills-list .d-flex {
    justify-content: space-between;
    align-items: center;
    background-color: var(--red-bg);
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skills-list .d-flex:hover {
    transform: translateY(-3px);
}

.skills-list .d-flex img:first-child {
    width: 50px;
    background-color: var(--bg-button);
    padding: 6px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skills-list .d-flex h4 {
    text-align: center;
    margin: 0;
    flex-grow: 1;
    margin-left: 20px;
    font-weight: bold;
}

.certif-cards {
    margin-bottom: 20px;
    background-color: var(--red-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.certif-cards h4 {
    font-weight: bold;
}

.certif-cards img {
    width: 60px;
    margin: 20px;
    background-color: var(--bg-button);
    padding: 6px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



footer {
    text-align: center;
    padding: 20px;
    background-color: var(--red-bg);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 30px;
    min-width: 100vw;
}

footer h5 {
    font-size: 0.8rem;
}

footer p {
    font-size: 0.7rem;
    margin-top: 5px;
}

footer .d-flex img {
    width: 30px;
    margin: 0 10px;
    background-color: var(--bg-button);
    border-radius: 25px;
}

footer ul {
    font-size: 0.7rem;
}



@media screen and (min-width: 900px) {
    html {
        font-size: 28px;
    }

    .rod {
        width: 30vw;
    }

    #landing-page h3 {
        max-width: 35%;
    }

    .button-links {
        min-width: 45% !important;
        width: 45% !important;
        min-height: 8vh;
        max-height: 8.5vh;
    }
    
    /* Si le bouton est dans un conteneur, cibler aussi : */
    #projects .button-links {
        min-width: 45% !important;
        width: 45% !important;
        min-height: 8vh;
        max-height: 8.5vh;
    }

    #networks {
        display: grid !important; /* !important pour surcharger Bootstrap */
        grid-template-columns: 50% 50%; /* 3 colonnes égales par exemple */
        gap: 20px;
        align-items: start; /* ou center selon votre besoin */
    }

    #networks .rod {
        display: none;
    }

    

    #networks .column:last-child{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #henri {
        width: 90%;
    }
    

    .project-cards {
        width: 35vw;
        height: 45vh;
    }

    .project-cards img {
        width: 35vw;
        height: 50%;
    }

    .mini-rod {
        width: 15vw;
    }
}